body {
    background-color: #042028;
    color: #BE5A04;
    user-select: none;
    display: flex;
    justify-content: center;
}

input {
    color: #BE5A04;
    background-color: #1A1825;
    border-color: #BE5A04;
    border-style: solid;
    outline: none;
    font-weight: bold;
    padding: 10px;
}

.rune-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 300px;

}

.rune-page-fix {
    justify-content: center;
    gap: 20px;
}

.btn:hover {
    background-color: #042028;
    color: #d46401;
    cursor: pointer;
}

.grid {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template: 20% 20% 20% / 20% 20% 20%;
    gap: 30px 10px;
}

.grid-stats {
    gap: 10px 10px;
}

.main-runes-style {
    display: flex;
    justify-content: center;
    gap: 10px;

}


.mainrune-icon {
    width: 30px;
    height: 30px;
}

.essential-rune-icon {
    width: 55px;
    height: 55px;
}

.subrune-icon {
    width: 35px;
    height: 35px;
}

#main {
    background-color: #1A1825;
    border-color: #BE5A04;
    border-style: solid;
    border-width: 1px;
    width: 710px;
    height: 510px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#essential-runes {
    display: flex;
    justify-content: center;
    gap: 1px;
    
}



#side-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    /*margin-bottom: 70px;*/
}

#box {
    width: 50px;
    height: 50px;
    background-color: white;
}
