body {
    background-color: #042028;
    color: #BE5A04;
    user-select: none;
    display: flex;
    justify-content: center;
}

input {
    color: #BE5A04;
    background-color: #1A1825;
    border-color: #BE5A04;
    border-style: solid;
    outline: none;
    font-weight: bold;
    padding: 10px;
}

.btn:hover {
    background-color: #042028;
    color: #d46401;
    cursor: pointer;
}

#side-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-size: 30px;
    color: white;
    gap: 15px;
    /*margin-bottom: 70px;*/
}
