* {
    -webkit-user-drag: none;
}

img {
    filter: grayscale(1);
    cursor: pointer;

}

img:hover {
    filter: none;
}

img[data-selected="true"] {
    filter: none;
}

div[data-extra_elem="true"] {
    gap: 9px;
}

.rune-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 300px;

}

.rune-page-fix {
    justify-content: center;
    gap: 20px;
}

.sub-runes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.sub-rune-row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.grid {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template: 20% 20% 20% / 20% 20% 20%;
    gap: 30px 10px;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 10px
}

.stats-rows {
    flex-direction: row;
    gap: 30px;
}

.main-runes-style {
    display: flex;
    justify-content: center;
    gap: 10px;

}


.mainrune-icon {
    width: 30px;
    height: 30px;
}

.essentialrune-icon {
    width: 55px;
    height: 55px;
}

.subrune-icon {
    width: 35px;
    height: 35px;
}

#main {
    background-color: #1A1825;
    border-color: #BE5A04;
    border-style: solid;
    border-width: 1px;
    width: 710px;
    height: 510px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#essential-runes {
    display: flex;
    justify-content: center;
    gap: 1px;
    
}





/* #box {
    width: 50px;
    height: 50px;
    background-color: white;
} */
